
body {
    background-color:darkgray; 
    width: 90%; display: block; margin: auto;
}
.judul1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}
.form1 {
    background-color: lightblue;
}
.bagian1 {
    display: inline;
}
ol,h3 {
    color:darkslateblue;
}
.isi {
    width: 80%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.table1 {
    border:  1px solid black;
    margin-left: 50px;
}
.judul2 {
    color: darkslategray;
    margin-left: 10px;
}
button {
    margin-bottom: 15px;
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}